@import "../../../colors";

.motivators {
  &--droppable {
    padding: 0.5rem;
    border-radius: 0.2rem;
    background-color: $light_grey;

    &-context {
      display: flex;
      overflow: auto;
      padding: 0;
      &.dragging {
        background-color: $lighter_grey;
      }
    }
  }

  &--draggable {
    min-width: 6.25rem;
    padding: 0.5rem 0.25rem;
    border-radius: 0.2rem;
    margin: 0 0 0 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.875rem;
    user-select: "none";
    background-color: $base_white;

    &:first-child {
      margin: 0;
    }

    &.dragged {
      background-color: $light_blue;
    }

    .title {
      margin-bottom: 0.25rem;
      font-weight: bold;
      color: $base_blue;
    }

    .description {
      font-size: 0.75rem;
    }
  }

  &--scale {
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    color: $base_grey;
  }
}
