@import "../../colors";

header {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $light_grey;
  transition: all 0.2s 0.1s ease-out;

  .icon {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    a {
      padding: 1.3rem 0;
      margin: 0 1rem;
      text-align: center;
      color: $base_black;
      text-decoration: none;

      &.brand {
        flex: 1;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color: inherit;

        img {
          margin: 0.5rem;
        }
      }

      &:not(.brand) {
        width: 5rem;
      }

      &.header-nav--current {
        color: $base_blue;
      }
    }
  }

  &.sticky {
    position: fixed;
    z-index: 2;
    background-color: $base_white;

    .brand {
      color: $base_black;
    }
  }

  &.light a {
    color: $light_grey;

    &.header-nav--current {
      color: $base_white;
    }
  }

  &.medium {
    .icon {
      display: block;
      padding: 0.5rem;
    }

    .menu {
      background-color: $base_grey;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100vw;
      max-width: 18rem;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      transition: left 0.2s ease-out;

      a {
        color: $light_grey;
        width: unset;

        &.brand {
          flex: unset;
          color: $base_white;
        }

        &.header-nav--current {
          color: $base_white;
        }
      }

      &.hidden {
        left: -100vw;
      }
    }

    &.sticky {
      .icon {
        color: $base_black;
      }
    }
  }
}
