.motivation-modal {
  &__content {
    display: flex;
    justify-content: center;
  }

  &__case {
    flex-grow: 0;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
  }

  &__case-caption {
    margin-top: 1rem;
  }
}
