@import "../../colors";

.info-modal {
  &__button {
    &_open {
      width: 1rem;
      height: 1rem;
      padding: 0;
      border-radius: 50%;
      background-color: $base_blue;
      color: $base_white;
      font-size: 0.75rem;
      font-weight: bold;
    }

    &_close {
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      margin: 0;
      border: 2px solid $base_black;
      border-radius: 50%;
      padding: 0 0 2px 0;
      box-shadow: none;
      color: $base_black;
      font-size: 1rem;
      font-weight: bold;
      background-color: $base_white;
    }
  }

  &__modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 100;
    background-color: $blur_grey;
  }

  &__content-wrapper {
    width: 100%;
    max-height: 80%;
    min-height: 22rem;
    position: relative;
    padding: 0.5rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $base_white;
    box-shadow: 0 2px 10px $dark-grey;
    overflow-y: scroll;
  }

  &__title {
    font-size: 1.5rem;
    color: $base_blue;
    font-weight: bold;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
}
