$base_black: #343b46;
$base_white: #fbfbfc;

$light_grey: #b0bec5;
$light_green: #a5d6a7;
$light_red: #f48fb1;
$light_blue: #90caf9;
$light_yellow: #ffe082;

$base_grey: #607d8b;
$base_green: #4caf50;
$base_red: #e91e63;
$base_blue: #2196f3;
$base_yellow: #ffc107;

$dark_grey: #263238;
$dark_green: #1b5e20;
$dark_red: #880e4f;
$dark_blue: #0d47a1;
$dark_yellow: #ff6f00;
