@import "./colors";

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: $base_white;
  color: $base_black;
}

h1,
h2,
h3 {
  color: $base_blue;
}

.button,
button {
  border: 0;
  padding: 0.5rem 1.5rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: $base_white;
  background-color: $base_blue;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0 5px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;

  &:hover {
    cursor: pointer;
    background-color: $dark_blue;
  }

  &:active {
    background-color: $base_blue;
  }
}

a {
  padding: 0.75rem 0;
}
