.archetype--tab {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 0.4fr 1fr 1fr 1fr;
  grid-template-rows: 40px 80px 80px 80px;
}

.archetype--tab > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}

.archetype--tab > div > div {
  text-align: center;
}

.archetype--header {
  font-weight: bold;
  background-color: #eeeeee;
}

.critical {
  background-color: rgba(255, 0, 0, 0.1);
}

.bad {
  background-color: rgba(248, 133, 133, 0.1);
}

.neutral {
  background-color: rgba(178, 180, 126, 0.1);
}

.good {
  background-color: rgba(127, 252, 125, 0.1);
}

.excellent {
  background-color: rgba(26, 255, 5, 0.1);
}
